nav {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    color: crimson;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .logo {
      font-size: 1.8rem;
    }

    span {
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      margin-left: 2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
