.listing {
  .loading {
    text-align: center;
    color: green;
  }

  .error {
    text-align: center;
    color: red;
  }

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
